# =====================
# GERAL
# =====================
*.log
*.tmp
*.bak
*.swp
*.swo
*.orig
*.rej
.DS_Store
Thumbs.db

# =====================
# BACKEND (Spring Boot / Gradle)
# =====================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
out/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

# Cobertura de testes
/test-output/
/coverage/
/jacoco.exec

# =====================
# FRONTEND (Angular)
/consulta-creditos-frontend/node_modules/
/consulta-creditos-frontend/dist/
/consulta-creditos-frontend/.angular/cache/
/consulta-creditos-frontend/.angular/
/consulta-creditos-frontend/.vscode/
/consulta-creditos-frontend/package-lock.json

# =====================
# DOCKER / ENV
# =====================
*.pid
*.tar
.env
.env.local
.env.*.local
docker-compose.override.yml

# =====================
# IDEs
# =====================

# STS / Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# =====================
# Arquivo de ajuda
# =====================
HELP.md
